<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cart page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Cart)}"></div>

    <h1>Shopping Cart</h1>
    <span th:if="${items.size() == 0}">Cart is empty</span>
    <table th:if="${items.size() > 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.product.id}"></td>
            <td th:text="${item.product.title}"></td>
            <td th:text="${item.product.price}"></td>
            <td><a class="btn btn-secondary" th:href="@{'/details/' + ${item.product.id}}">Details</a></td>
<!--            <td><a class="btn btn-danger" th:href="@{'/cart/delete/' + ${product.id}}">Delete</a></td>-->
        </tr>
        </tbody>
    </table>
    <a sec:authorize="isAuthenticated()" th:if="${items.size() > 0}" class="btn btn-success" th:href="@{/cart/create_order}">Create order</a>
</div>

</body>
</html>